* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

/* Calculator Box */

.calculator {
  width: 350px;
  background-color: #000;
  padding: 20px;
  border-radius: 25px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Display */

.display {
  width: 100%;
  height: 100px;

  background-color: #000;
  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 10px;

  font-size: 50px;
  font-weight: 300;

  overflow: hidden;
}

/* Buttons Grid */

.buttons {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 10px;

  margin-top: 15px;
}

/* All Buttons */

button {
  height: 65px;

  border: none;
  border-radius: 50%;

  background-color: #333;
  color: white;

  font-size: 24px;

  cursor: pointer;

  transition: 0.2s;
}

/* Hover */

button:hover {
  background-color: #555;
}

/* Click */

button:active {
  transform: scale(0.95);
}

/* Operator */

.operator {
  background-color: #ff9500;
  color: white;
}

.operator:hover {
  background-color: #ffad33;
}

/* Clear */

.clear {
  background-color: #a5a5a5;
  color: black;
}

.clear:hover {
  background-color: #c5c5c5;
}

/* Delete */

.delete {
  background-color: #a5a5a5;
  color: black;
}

.delete:hover {
  background-color: #c5c5c5;
}

/* Equal */

.equal {
  background-color: #ff9500;
  color: white;

  grid-row: span 2;
  height: 140px;
  border-radius: 40px;
}

.equal:hover {
  background-color: #ffad33;
}

/* Zero Button */

.zero {
  grid-column: span 2;
  border-radius: 35px;
  text-align: left;
  padding-left: 25px;
}

/* Mobile */

@media (max-width: 400px) {
  .calculator {
    width: 95%;
  }

  button {
    height: 60px;
  }

  .display {
    font-size: 40px;
  }
}